= link_to image_tag('buttons/show.png', alt: 'показать', title: 'показать'), resource
= link_to image_tag('buttons/edit.png', alt: 'редактировать', title: 'редактировать'), [:edit, resource]
= link_to image_tag('buttons/delete.png', alt: 'удалить', title: 'удалить'), resource, method: :delete, data: {confirm: 'Вы уверены?'}