!!!
%html
  %head
    %title Parse-Title
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .jumbotron
        %h1 Сайт для кадрового агенства
        %hr
        %p
          %a.btn.btn-lg.btn-default{:href => vacancies_path, :role => "button"} Вакансии
          %a.btn.btn-lg.btn-default{:href => employees_path, :role => "button"} Работники
      = yield